* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Merriweather', serif;
  font-size: var(--font-size-copy);
  line-height: var(--line-height-copy);
  color: $color-black;
  background-color: $color-white;
  font-weight: 400;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DiamondsBold';
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  margin: 0 0 var(--margin-bottom-h1) 0;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  margin-bottom: var(--margin-bottom-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  margin-bottom: var(--margin-bottom-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  margin-bottom: var(--margin-bottom-h4);
}

h5 {
  font-size: var(--font-size-lead);
  line-height: var(--line-height-lead);
  margin-bottom: var(--line-height-copy);
}

h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  margin-bottom: var(--line-height-h6);
}

p {
  margin-bottom: var(--line-height-copy);
}

a {
  color: $color-black;
  text-decoration: underline;
  transition: color 100ms linear, background-color 100ms linear, opacity 250ms linear;
}

ul,
ol,
dl {
  margin-bottom: var(--line-height-copy);
  list-style-type: none;
}

ul {

  li {
    position: relative;
    padding-left: 1.25rem;

    &:before {
      content: "";
      width: 0.25rem;
      height: 0.25rem;
      position: absolute;
      top: 0.5rem;
      left: 0;
      background-color: $color-black;
      border-radius: 50%;
    }

  }

  ul {
    margin-bottom: 0;
  }

}

ol {
  margin-left: 1.25rem;
  list-style-type: decimal;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

hr {
  border-top: 1px solid $color-black;
	margin-bottom: var(--line-height-copy);
}

button {
  background-color: transparent;
  cursor: pointer;
  transition: color 100ms linear;

  &:focus {
    outline: 0;
  }

}

table {
  border-collapse: collapse;
  margin-bottom: var(--line-height-copy);

  th {
    text-align: left;
  }

  td {
    vertical-align: top;
  }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: $grid-gutter-width;
}

figure {
  margin-bottom: $grid-gutter-width;
  position: relative;

  img {
    margin-bottom: 0;
  }

}

figcaption {
  font-size: var(--font-size-figcaption);
  line-height: var(--line-height-figcaption);
  margin: 0.75rem 0 0 0;
}

audio {

  &:focus {
    outline: 0;
  }

}

.lead {
  font-size: var(--font-size-lead);
  line-height: var(--line-height-lead);
  margin-bottom: var(--line-height-lead);
}

.half-p {
  margin-bottom: calc(var(--line-height-copy)/2);
}

.double-p {
  margin-bottom: calc(var(--line-height-copy)*2);
}

.break-links {
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }
}

.home-link {
  text-decoration: none;
}

.bar-style {
  box-shadow: -10px 0 $color-black, 10px 0 $color-black;
  background-color: $color-black;
  padding: 4px 0 8px 0;
  color: $color-white;
}

.iframe-history {
  width: 100%;
  height: 1000px;
}

.screen-reader-text {
  @include screen-reader-text;
}

@include media-breakpoint-up(lg) {

  .twocol {
    column-count: 2;
    column-gap: $grid-gutter-width;
  }

}