.borderless-img-wrapper {
  margin-left: -20px;
  margin-right: -20px;
}

@include media-breakpoint-up(md) {

  .borderless-img-wrapper {
    margin-left: -30px;
    margin-right: -30px;
  }

  .ce-twocol {

    &.twocol-md {

      .col-custom-1 {

        .borderless-img-wrapper {
          margin-right: 0;
        }

      }

      .col-custom-2 {

        .borderless-img-wrapper {
          margin-left: 0;
        }

      }

    }

  }

}

@include media-breakpoint-up(lg) {

  .ce-twocol {

    .col-custom-1 {

      .borderless-img-wrapper {
        margin-right: 0;
      }

    }

    .col-custom-2 {

      .borderless-img-wrapper {
        margin-left: 0;
      }

    }

  }

}