.img-slider {
  margin: var(--line-height-copy) 0;

  .swiper-container {

    img {
      width: 100%;
      max-width: none;
      margin: 0;
    }

    figure {
      margin: 0;
    }

  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 24px;
    margin-top: -12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &:focus {
      outline: 0;
    }

    &:after {
      display: none;
    }

  }

  .swiper-button-prev {
    left: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M11.111 10.168H30v3.664H11.111c2.929 2.431 4.761 5.865 4.761 9.668h-4.186c0-5.331-4.955-9.668-11.046-9.668H0v-3.664h.64c6.091 0 11.046-4.337 11.046-9.668h4.186c0 3.803-1.832 7.237-4.761 9.668' fill='%23ffbc00'/%3E%3C/svg%3E");
  }

  .swiper-button-next {
    right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M18.889 10.168H0v3.664h18.889c-2.929 2.431-4.761 5.865-4.761 9.668h4.186c0-5.331 4.955-9.668 11.046-9.668H30v-3.664h-.64c-6.091 0-11.046-4.337-11.046-9.668h-4.186c0 3.803 1.832 7.237 4.761 9.668' fill='%23ffbc00'/%3E%3C/svg%3E");
  }

}

.single-slide {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

}

@include media-breakpoint-up(md) {

  .img-slider {

    .swiper-button-prev {
      left: 30px;
    }

    .swiper-button-next {
      right: 30px;
    }

  }

}