.searchform {
  margin-bottom: 30px;
  position: relative;

  input[type='submit'] {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    text-indent: -9999px;
    background-color: transparent;
    text-align: left;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M6.188 10.125A3.942 3.942 0 012.25 6.188 3.942 3.942 0 016.188 2.25a3.942 3.942 0 013.937 3.938 3.941 3.941 0 01-3.937 3.937m4.586-.588a5.65 5.65 0 001.101-3.349A5.695 5.695 0 006.187.5 5.695 5.695 0 00.5 6.188a5.694 5.694 0 005.688 5.687 5.65 5.65 0 003.349-1.101l3.726 3.726 1.237-1.237-3.726-3.726' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 150ms linear;

    &:hover {
      opacity: 0.6;
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
    }

  }

}

.bgr-black {

  .searchform {

    input[type='submit'] {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M6.188 10.125A3.942 3.942 0 012.25 6.188 3.942 3.942 0 016.188 2.25a3.942 3.942 0 013.937 3.938 3.941 3.941 0 01-3.937 3.937m4.586-.588a5.65 5.65 0 001.101-3.349A5.695 5.695 0 006.187.5 5.695 5.695 0 00.5 6.188a5.694 5.694 0 005.688 5.687 5.65 5.65 0 003.349-1.101l3.726 3.726 1.237-1.237-3.726-3.726' fill='%23fff'/%3E%3C/svg%3E");

      &:focus {
        box-shadow: none;
      }

    }

  }

}

@include media-breakpoint-up(md) {

  .searchform {
    width: 400px;
  }

}